* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  /* background: #E9E8E4; */
  font-family: 'Raleway', sans-serif !important;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.app-color {
  color: #E17F93;

}

.white-color {
  color: #F2F0FF;
}

.bg-white {
  background: #F2F0FF;
}

.app-header {
  background: #E17F93;
  padding: 0 28px;
  height: 38px;
  line-height: 38px;
  font-size: 12px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
}

footer {
  font-size: 15px;
  padding: 0px;
  font-family: Libre Baskerville;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout-wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.bags-title {
  font-family: Libre Baskerville;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

}
.landing_banner {
 /* display: flex;
  flex-direction: column;
  justify-content: space-between;  */
   height: 460px;
  max-height: 460px; 
  width: 100%;
  /* background: #7fe1b0; */
  /* position: relative; */
  
} 

.banner-content { 
  height: 430px;
  max-height: 430px; 
  width: 100%;
  background: red;
}

.section-headers {
  font-family: Libre Baskerville;
  font-style: normal;
  font-weight: bold;
  margin-top: 8px;
  margin-right: 4px;
  font-size: 28px;
  line-height: 30px;
  height: 60px;
  color: #000000;
  mix-blend-mode: normal;
}

.ellipse {
  /* position: relative; */
  max-width: 120px;
  height: 120px;
  display: inline-block;
  /* left: 56px; */
}

.ellipse-text {
  position: relative;
  /* height: 42px;  */
  /* font-family: Roboto; */
  /* font-style: normal; */
  /* font-weight: normal; */
  font-size: 1rem;
  /* line-height: 42px;  */
  /* mix-blend-mode: normal; */
}

.Applink {
  color: #61dafb;
  background: #E17F93;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: rgb(39, 52, 68);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 100%;
}


.product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: .3rem;
  text-align: center;
  padding: 2rem 0;
}

.product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.p-text-black {
  color: #000000 !important;
}

.product-wrapper {
  width: 300px;
  height: 300px;
  /* background: white;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  background: #262626;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;

}

.product-wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.product-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-top {
  height: 80%;
  width: 100%;
}

.product-top img {
  width: 100%;
  height: 100%;
}

.totalImg {
  position: relative;
  top: -80%;
  left: 1px;
  height: 10px;
  z-index: 8000;
  background: inherit;
}

.product-bottom {
  /* width: 100%; */
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  z-index: 3;
  /* height: calc(20% - 10px); */
  /* transition: transform 0.5s; */
}

.product-bottom a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-size: 11px;
  color: #111;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #aaa;
  font-weight: bold;

}


.product-bottom a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0%;
  background: #111;
  height: 100%;
  z-index: -1;
  /* color: #fff; */
  transition: width 0.3s ease-in-out;
  transform: skew(-25deg);
  transform-origin: right;
}

.product-bottom a:hover:after {
  width: 150%;
  left: -10px;
  transform-origin: left;
  transition: background 0.5s;
}

.product-bottom a:hover {
  color: #fff;
  transition: all 0.5s ease;
}

.product-bottom a:nth-of-type(1) {
  border-radius: 50px 0 0 50px;
  border-right: none;
}

.product-bottom a:nth-of-type(2) {
  border-radius: 0px 50px 50px 0;
}

.product-details {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.p-info-page { 
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; 
}
.info-carousel {
  height: 390px;
  max-height: 390px; 
  width: 100%;
}
.info-carousel-content {
  height: 300px;
  max-height: 300px; 
} 
.p-galleria .p-galleria-item-nav {
  background-color: #000000;
  /* background-color: red; */
  top: 40%
}

.p-galleria-item-next {
left: 100%
}
.p-galleria-item-prev {
right: 90%
}
.p-galleria-item-nav-onhover .p-galleria-item-nav {
  /* opacity: 0.5;
  pointer-events: auto; */
}
.w-100 {
  width: 100% !important;
} 
.w-50 {
  width: 50% !important;
} 
.footer-link {
  list-style: none; 
  left: 50%;
  line-height: 1em;
}
.ui-accordion .ui-accordion-header .ui-icon {
  margin-top: -8px;
  position: absolute;
  right: 0.5em;
  top: 50%;
}